/** This sets the background color of your blog posts.  Try changing the color and see what happens! **/
div.entrywrap, div.entrywrap-hover {
    word-wrap: break-word;
    border-radius: 25px;
    background-color: #b7fffd;
    border: none;
}

div.commentwrap {
    background-color: #b7fffd;
}

div.cmty-post-edit-info {
   display: none !important;
}

div.comment.row1 {
    background-color: #2391ff;
}

div.comment.row2 {
    background-color: #23bdff;
}

img.blog-direct-post-link {
    display: none !important;
}

#side {
    background-color: #89ddcf !important;
}

p.description {
    font-weight: bold;
}

h1 {
    color: #000000 !important;
}

body {
    background-color: #2d1d7c !important;
}

#wrapper {
    background-color: #e6ffe5 !important;
    width: 1000px;
}

fieldset {
    background-color: #3239ff !important;
    border: 0;
    border-radius: 15px;
    margin-bottom: 5px;
}

div.cmty-itembox {
    display: none !important;
}

div.widget-content {
    border-radius: 15px;
}

#shouts-widget {
    background-color: #a7ff89 !important; 
    border-radius: 15px; 
    padding: 10px;
}

#side {
    width: 30%;
}

#main {
    width: 70%;
}

.widget-header {
    margin: 10px;
    background-color: #3aff4b;
    border-radius: 10px;
    text-align: center;
}

textarea  {
    width: 90%;
    overflow: scroll;
    resize: none !important;
    display: block;
    margin: auto !important; 
    margin-bottom: 10px !important;
}

.post-comment::after {
    content: url("https://raw.githubusercontent.com/fishy15/blog-css/master/miniturtlewithborder3.png") !important;
}

.blog-shout {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.blog-shout.row1 {
    background-color: #2391ff !important;
    color: white;
}

.blog-shout.row2 {
    background-color: #23bdff; !important
}

.blog-shout.row1 a {
    color: white;
}

div.aops-scroll-inner {
    width: 200px;
}

ul.aops-scroll-content {
    width: 230px !important;
    margin: 0 !important;
}

#search-widget {
    display: none;
}

#header {
    content: url("https://raw.githubusercontent.com/fishy15/blog-css/master/fishyfishfish.jpg");
    border: none;
    //position: sticky;
    background-attachment: fixed;
}
